@use 'variables';

//----FIRST PAGE (index)----
.banner{
    margin: 0 auto;
    height: 40em;
    width: 100%;
    // background-image: url(/img/img_first.png);
    // background-repeat: no-repeat;
    // background-position: right;
    // opacity: 0.7;
    position: relative;
    z-index: -2;
    overflow: hidden;
    background-color: white;

    &__profile{
        width: 650px;
        position: absolute;
        // right: 250px;
        top: 0;
        right: 0;
        z-index: -1;
        opacity: 0.5;

    }
    &__main{
        text-align: center;
        line-height: 1.1;
        padding-top: 200px;
    }
    &--letter{
        opacity: 0.5;
    }
    &__under{
        text-align: center;
    }
    img{
        height: auto;
    }
}

//----NABÍZÍM----
.summary{
    z-index: 100;

    &__work{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    }
    &__web{
        width: 100%;
        padding: 15px;
        border: 3px solid gray;
        border-radius: 20px;
        margin-bottom: 20px;
        h2{
            font-size: 2.5rem;
            margin: 10px 0;
        }
        p{
            font-size: 1.2rem;
        }
    }
    &__img{
        width: 100%;
        border-radius: 20px;
        
    }
}

@media screen and (min-width: 800px){
    .banner{
        position: relative;
        &__profile{
            width: 650px;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            opacity: 1;
    }
    

}

    @media screen and (min-width: 1100px) {
        .summary{
            width: 66rem;
            margin: 0 auto;
            gap: 20px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;

            &__work{
            width: 20rem;
            }

        }
    }
}