@use 'variables';

//----FIRST PAGE (index)----
.banner{
    margin: 0 auto;
    height: 40em;
    width: 100%;
    position: relative;
    z-index: -1;
    overflow: hidden;
    background-color: variables.$main-col;

    &__profile{
        width: 650px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        opacity: 0.5;
    }
    &__main{
        text-align: center;
        line-height: 1.1;
        padding-top: 200px;
    }
    &--letter{
        opacity: 0.5;
    }
    &__under{
        text-align: center;
    }
    img{
        height: auto;
    }
}

//----NABÍZÍM----
.summary{
    z-index: 100;
    margin: 60px 20px;
    &__work{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    &__web{
        width: 100%;
        padding: 15px;
        border: 3px solid gray;
        border-radius: 20px;
        margin-bottom: 20px;
        position: relative;
        a{
            text-decoration: none;
        }
        h2{
            margin: 10px 0;
            color: variables.$nav-col;
        }
        p{
            font-size: 1rem;
        }
    }
    &__img{
        width: 100%;
        border-radius: 20px;
        filter: grayscale(99%);
        &:hover{
            filter: none;
        }
    }
}

//-----VOLEJTE / PIŠTE----
.rezervation{
    text-align: center;
    background-color: variables.$main-col;
    padding: 100px 20px;
    h2{
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    button{
        padding: 20px;
        width: 300px;
        border-radius: 20px;
        background-color: rgb(128, 128, 128);
        color: variables.$main-col;
        border: none;
        font-family: variables.$font-h;
        font-size: 1.2rem;
        margin-bottom: 20px;

        &:hover{
            background-color: rgb(128, 128, 128, 0.5);
            color: variables.$foot-col;
        }
    }
    a{
        text-decoration: none;
        color: variables.$main-col;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;

        &:hover{
            color: variables.$foot-col;
        }
    }
    img{
        width: 10%;
        margin-right: 10px;
    }
}

//-----MEDIA QUERY-----
@media screen and (min-width: 800px){
    .banner{
        position: relative;
        &__profile{
            opacity: 1;
        }
    }
    .summary{
        &__work{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }
        &__img{
            width: 100%
        }
        &__web{
            margin: 0;
        }
    }
}

@media screen and (min-width: 1100px) {
    .summary{
        width: 66rem;
        margin: 0 auto;
        &__work{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-bottom: 120px; 
        }
        &__img{
            width: 100%;
        }
    }
    .web--shift{
        position: relative;
        transform: translateY(70px);
    }
}

