@use 'variables';

.footer{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: variables.$nav-col;
    background-size: cover;
    background-position: center;
    color: variables.$nav-text;
    opacity: 0.8;

    &__cover{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
        flex-direction: column;
        a{
            text-decoration: none;
            color: variables.$nav-text;
            // font-size: 1.5rem;
        }
    }
    &__contact{
        width: 100%;
        margin: 40px 0;
        font-size: 1.5rem;
        h2{
            font-size: 2.5rem;
            text-align: center;
        }
    }
    &__item{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 10px;
        max-width: 400px;
        margin: 0 auto;
    }
    &__icon{
        width: 60px;
        margin: 10px;
        &--small{
            width: 25px;
            margin-left: 10px;
        }
    }
    &__text, a{
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__end{
        text-align: center;
    }
    &__copyright{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    &__resources{
        font-size: 1.1rem;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1100px){
    .footer{
        &__cover{
            width: 66rem;
            margin: 0 auto;
        }
        &__contact{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2,1fr);
            width: 100%;
            margin: 40px 0;
            font-size: 1.5rem;
                h2{
                    grid-column: 1/span3;
                }
        }
    }
}