@use 'variables';

//----NABÍZÍM----
.grid{
    padding: 60px 20px;
    
    &__work{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    }
    &__web{
        width: 100%;
        padding: 15px;
        border: 3px solid gray;
        border-radius: 20px;
        margin-bottom: 20px;
        position: relative;
        a{
            text-decoration: none;
        }
        h3{
            margin: 10px 0;
            color: variables.$nav-col;
        }
        p{
            font-size: 1rem;
        }
        &.service--right{
            background-color: variables.$summary-col;
        }
        &.web--service{
            filter: grayscale(99%);
        }
    }
    &__img{
        width: 100%;
        border-radius: 20px;
    }
}

@media screen and (min-width: 800px){
    .grid{
        &__work{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }
        &__img{
            width: 100%;
        }
        &__web{
            margin-bottom: 0;
            &.web--service{
                display: flex;
                grid-column: span 2;
                img{
                    width: 40%;
                    border-radius: 20px 0 0 20px;
                    &.img--right{
                        border-radius: 0 20px 20px 0;
                    }
                }
                p{
                    font-size: 1.3rem;
                }
            &.service--right{
                flex-direction: row-reverse;
                }
            }
        }
        &__service{
            padding: 0 20px;
        }
    }
}

@media screen and (min-width: 1100px) {
    .grid{
        margin: 0 auto;
        padding: 60px 0 150px 0;
        &__work{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 40px;
            width: 66rem;
            margin: 0 auto;
        }
        &__img{
            width: 100%;
        }
    }
}