@use 'variables';

.pages{
    background-color: variables.$main-col;
    width: 100%;
    // position: relative;
    // z-index: 0;
    // overflow: hidden;

    &__grid{
        padding: 0 20px;
        display: grid;
        margin: 0 auto;
        h2{
            margin: 40px 0;
        }
        h3{
            margin-top: 40px;
        }
    }
}