@use 'variables';

.header{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: variables.$nav-col;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
 
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__logo img{
        max-width: 15rem;
        justify-content: space-between;
    }
}

//---HAMBURGER MENU--- 
.menu{
    &__checkbox{
    position: absolute;
    left: -9999px;  /*funkčně stejné jako display: none*/
    }
    &__list{
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: variables.$nav-col;
        justify-content: center;
        align-items: center;
    }
    &__item{
        border-bottom: 1px solid gainsboro;
    }
    &__link{
        display: block;
        padding: 15px;
        text-decoration: none;
        color: variables.$nav-text;
        font-size: 1.5rem;
        &:hover{
            background-color: variables.$nav-text;
            color: variables.$nav-col;
        }
    }
    &__toggler{
        cursor: pointer;
        & img{
            width: 80px;
            margin: 20px;
        }
    }
}

@media screen and (max-width: 820px){
    .menu__checkbox:checked ~ .menu__list{
        display: block;
    }
}

@media screen and (min-width: 821px){
    .header__inner{
        margin: 0 20px;
    }
    .menu{
        &__toggler{
            display: none;
        }
        &__list{
            display: flex;
        }
        &__item{
            border-bottom: 0;
        }
    }
}


.menu__list{

}
    
@media screen and (min-width: 1100px) {
    .header__inner{
        width: 66rem;
        margin: 0 auto;
    }
}