@use 'variables';
@use 'header';
@use 'footer';
@use 'first_page';
@use 'contact';
@use 'about_me';

//-----intuitivnější box-sizing pro všechny prvky na stránce-----
html {box-sizing: border-box;}
*, ::before, ::after {box-sizing: inherit; margin: 0; padding: 0;}

//-----základní nastavení webu-----
body{
    font-family: variables.$font-p;
    background-color: variables.$web-col;
}

main{
    width: 100%;
}

.wrapper{
    margin: 0 auto;
}

h1, h2, h3{
    font-family: variables.$font-h;
}

h1{font-size: 6rem;}
h2{font-size: 3rem;}
h3{font-size: 2rem;}
h4{font-size: 1.5rem;}


p{
    font-family: variables.$font-p;
    font-size: 1.5rem;
    line-height: 1.5;
}