@use 'variables';

//-----intuitivnější box-sizing pro všechny prvky na stránce-----
html {box-sizing: border-box;}
*, ::before, ::after {box-sizing: inherit;}

//-----základní nastavení webu-----
body{
    font-family: variables.$font-p;
    background-color: variables.$web-col;
}

.wrapper{
    margin: 0 auto;
}

.header,.footer{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: $nav-col;
    background-size: cover;
    background-position: center;
}

h1, h2, h3{
    font-family: $font-h;
}

h1{font-size: 2rem;}
h2{font-size: 1.5rem;}
h3{font-size: 1.2rem;}

p{
    line-height: 1.5;
    font-family: $font-p;
}

//-----HEADER-----
.header{
    margin: 0 auto;
    // padding: 30px 0;
 
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        a{
            text-decoration: none;
            color: $nav-text;
            font-size: 1.5rem;
            padding: 0 15px;
        }
    }
    &__logo img{
        max-width: 15rem;
        // flex: 0 0 100%;
        // display: flex;
        justify-content: space-between;
        // align-items: flex-end;
    }
}



.menu__list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer{
    color: $nav-text;
}