<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">

<!--Favicon-->
    <link rel="icon" type="img/x-icon" href="/img/003-letter-w.png" alt="favicon">

<!--My style.css-->
    <link rel="stylesheet" href="/css/style.css">

    <title> {{ title }} </title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="/"><img src="/img/logo_v1.jpg" alt="Logo"></a>
                </div>
                <nav class="menu">

                    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
                    <label for="menu-checkbox" class="menu__toggler"><div class="toggler--img"><img  src="/img/icons/menu.png"></div></label>

                    <ul class="menu__list">
                        <li class="menu__item"><a class="menu__link" href="/">Domů</a></li>
                        <li class="menu__item"><a class="menu__link" href="/o_me/">O mě</a></li>
                        <li class="menu__item"><a class="menu__link" href="/nabizim/">Nabízím</a></li>
                        <li class="menu__item"><a class="menu__link" href="/portfolio/">Portfolio</a></li>
                        <li class="menu__item"><a class="menu__link" href="/kontakt/">Kontakt</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            {{ content | safe }}
        </main>

        <footer class="footer">
            <div class="footer__cover">
                <div class="footer__contact">
                    <h2>Kontakt</h2>
                    <div class="footer__item">
                        <img class="footer__icon" src="/img/icons/phone.png" alt="phone">
                        <p class="footer__text">+420 732 528 331</p>
                    </div>

                    <div class="footer__item">
                        <img class="footer__icon" src="/img/icons/e-mail.png" alt="post">
                        <p class="footer__text"><a href="mailto:wiera@wiera.cz">wiera@wiera.cz</a></p>
                    </div>

                    <div class="footer__item">
                        <img class="footer__icon" src="/img/icons/note.png">
                        <p class="footer__text"><a href="/kontakt/">Fakturační údaje</a></p>
                    </div>
                </div>

                <div class="footer__end">
                    <div class="footer__copyright">&copy;CopyWIERA.cz <b>2024</b> | WebDesign
                    </div>

                    <div class="footer__resources">
                        <p class="footer__text">Všechna práva vyhrazena | Použité <a href="/resources/">zdroje
                        <img class="footer__icon--small" src="/img/icons/tutorial.png" alt=""></a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>